.dashboard-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  padding-top: 12px;
  width: 600px;
}

.answered-switch {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 80px;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #2d77ac;
  color: #FAFAFA;

}

.answered-switch:hover {
  cursor: pointer;
}

.dashboard-container > li {
  margin-top: 12px;
}

.dashboard-container > li:first-child {
  margin-top: 0px;
}
