.authorized-user {
  margin-left: auto;
  padding: 10px;
  line-height: 20px;
}

nav.nav {
  background-color: #1d4d6f;
  color: #FAFAFA;
  display: block;
  height: 40px;
}

nav.nav > ul {
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 100%;
}

nav.nav li {
  display: inline-block;
  height: 100%;
  line-height: 40px;
  margin-left: 16px;
}

nav.nav li>a {
  vertical-align: middle;
}

.logout-button {
  margin-left: 10px;
  border-radius: 5px;
  line-height: 20px;
}

.logout-button:hover {
  cursor: pointer;
  background-color: #4a708b;

}
