.question-container {
  border: 1px solid #CCC;
  border-radius: 5px;

  overflow: auto;
}

.author-header {
  font-weight: bold;
  background-color: #FAFAFA;
  padding: 12px;
  padding-left: 16px;
  border-bottom: 1px solid #CCC;
}

.author-profile-holder {
  width: 39%;
  height: auto;
  min-height: 120px;
  float: left;
  border-right: 1px solid #CCC;
}

.author-profile-holder img {
  width: 120px;
  height: 120px;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.options-holder {
  float: right;
  padding: 8px;
  width: 60%;
}

.options-form button {
  background-color: #247358;
  border-radius: 5px;
  border: none;
  color: #FFF;
  text-align: center;
  padding: 6px;
  margin-top: 8px;
  width: 100%;
}

.options-form button:hover {
  cursor: pointer;
}

.options-form button:disabled{
  background-color: #DDD;
}

.options-form div.radio-container {
  display: flex;
  height: 24px;
  align-items: center;
}

.options-form input[type="radio"] {
  margin-top: 0px;
  margin-right: 4px;
}

.question-container form {
  border: none;
}

.question-container input {
  display: inline-block;
  width: auto;
}
